@font-face  {
    font-family: "font-light";
    src: url("../fonts/Inter-Light.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face  {
    font-family: "font-regular";
    src: url("../fonts/Inter-Regular.otf");
    font-weight: normal;
    font-style: normal;
}
